.c-recipe-teaser--card {
  align-items: center;
  background: var(--color-white);
  border-radius: 0.625rem;
  box-shadow: 0 1.25rem 2.5rem 0 rgba(var(--color-brand-black-rgb), 0.15);
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  isolation: isolate;
  max-inline-size: 21.25rem;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
}
.c-recipe-teaser--card::before {
  background-image: var(--teaser-bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  block-size: 21.25rem;
  content: "";
  display: block;
  filter: blur(2px);
  inline-size: 21.25rem;
  position: absolute;
  transform: translate(0, -60%);
  z-index: -1;
}

.c-recipe-teaser__meta-items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: center;
}

.c-recipe-teaser__meta-item {
  font-size: var(--twig-demo-fs-label-13);
  line-height: var(--twig-demo-lh-label-13);
  align-items: center;
  background: rgb(var(--color-brand-black-rgb));
  border-radius: 0.3125rem;
  color: var(--color-white);
  display: flex;
  font-weight: var(--fw-medium);
  gap: 0.3125rem;
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding: 0.625rem;
}
.c-recipe-teaser__meta-item .icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-recipe-teaser__tags {
  display: flex;
  gap: 0.625rem;
  margin: 0;
  padding: 0;
}

.c-recipe-teaser__star-rating {
  gap: 0.4375rem;
}

.c-recipe-teaser__image {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 100%;
  box-shadow: 0 0 1.25rem 0.625rem rgba(var(--color-brand-black-rgb), 0.1);
  overflow: hidden;
}
.c-recipe-teaser__image img {
  aspect-ratio: 1/1;
  display: block;
  max-inline-size: 11.625rem;
}

.c-recipe-teaser__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.c-recipe-teaser__title {
  font-size: var(--twig-demo-fs-heading-h3);
  line-height: var(--twig-demo-lh-heading-h3);
  font-weight: var(--fw-semibold);
  letter-spacing: -0.0625rem;
  margin: 0;
}

.c-recipe-teaser__usd {
  font-weight: var(--fw-light);
}

.c-recipe-teaser__price {
  font-size: var(--twig-demo-fs-label-15);
  line-height: var(--twig-demo-lh-label-15);
  background: rgba(var(--color-brand-green-rgb), 0.15);
  border-radius: 0.3125rem;
  color: var(--color-brand-lighter-black);
  font-weight: var(--fw-bold);
  inline-size: -webkit-fill-available;
  inline-size: fit-content;
  line-height: 1;
  margin: 0;
  padding: 0.625rem;
}

.c-recipe-teaser__description {
  font-size: var(--twig-demo-fs-body-base);
  line-height: var(--twig-demo-lh-body-base);
  color: rgba(var(0 0 0/75%));
  font-weight: var(--fw-regular);
  margin: 0;
  text-align: center;
}

.c-recipe-teaser__link {
  inline-size: 100%;
}

@media (min-width: 992px) {
  .c-recipe-teaser--horizontal.c-recipe-teaser--card {
    display: grid;
    gap: 0 1.875rem;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(3, auto);
    max-inline-size: 37.9375rem;
    padding: 2.5rem 2.5rem 2.5rem 4.375rem;
  }
}
@media (min-width: 992px) {
  .c-recipe-teaser--horizontal.c-recipe-teaser--card::before {
    transform: translate(-50%, 0);
  }
}
@media (min-width: 992px) {
  .c-recipe-teaser--horizontal .c-recipe-teaser__content {
    align-items: flex-start;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-block: 0.625rem;
  }
}
@media (min-width: 992px) {
  .c-recipe-teaser--horizontal .c-recipe-teaser__description {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .c-recipe-teaser--horizontal .c-recipe-teaser__image {
    grid-column: 1/2;
    grid-row: 1/4;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .c-recipe-teaser--horizontal .c-recipe-teaser__link {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (min-width: 992px) {
  .c-recipe-teaser--horizontal .c-recipe-teaser__meta-items {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: flex-start;
  }
}
