<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="css/global.css">
</head>
<body>
<main>
  <h1>Twig demo</h1>
  <h2>Two card orientation</h2>
  <div class="row">
    {% for recipe in recipes %}
      {{ include('@components/teaser/teaser.twig', {
        title: recipe.title|default(''),
        orientation: recipe.field_orientation,
        tags: recipe.field_tags|default([]),
        body: recipe.field_description|default(''),
        image: recipe.field_image,
        link: { url: recipe.field_link.uri, title: recipe.field_link.title },
        price: recipe.field_price,
        rating: recipe.field_star_rating,
      }) }}
    {% endfor %}
  </div>
</main>
<script src="/components/components/teaser/src/teaser.js" defer></script>
</body>
</html>