.button {
  font-size: var(--twig-demo-fs-label-14);
  line-height: var(--twig-demo-lh-label-14);
  align-items: center;
  background-color: var(--color-brand-black);
  border-radius: 0.625rem;
  display: flex;
  font-weight: var(--fw-semibold);
  inline-size: 100%;
  justify-content: center;
  padding-block: 1rem;
  text-decoration: none;
  transition-duration: 0.2s;
}
.button:active {
  box-shadow: 0 0 0 var(--color-white);
  transform: translateY(-1px);
}
.button:focus-visible {
  outline: 0.125rem solid currentColor;
  outline-offset: 0.1875rem;
}
.button:hover {
  box-shadow: 0 0.3125rem 1.25rem 0 rgba(var(--color-brand-black-rgb), 0.15);
  cursor: pointer;
  transform: translateY(-3px);
}
.button a,
.button span {
  color: var(--color-white);
}
